In [1]:
location=['Bengaluru','Noida','Chennai','Hyderabad','Delhi']
print(location)

['Bengaluru', 'Noida', 'Chennai', 'Hyderabad', 'Delhi']

In [2]:
location=['Bengaluru','Noida','Chennai','Hyderabad','Delhi']
for i in location:
    print(i)

Bengaluru
Noida
Chennai
Hyderabad
Delhi

In [6]:
salary=[2000,4000,5000,7000,8000,4500,3800]
for val in salary:
      if val>5500:
        print(val)

7000
8000

In [7]:
sal=[val for val in salary if val>5500]  #List comprehension
sal

[7000, 8000]

In [9]:
student_scores=[35,67,78,79,12,34,67,54,89]
for marks in student_scores:
    if marks>60:
        if marks>70:
            print(marks,'-Distinction')
        else:
            print(marks,'-First class')
            elif marks>50 and marks<=60:
                print(marks,'-Second class')
                    elif marks>=35:
                        print(marks,'-Pass')
            
        else:
            print(marks,'-Fall-Better luck next time')

SyntaxError: invalid syntax (Temp/ipykernel_5140/1365297850.py, line 8)

In [10]:
daily_sales=[100,150,100,200,150,200,300]
income_till_date=0
for val in daily_sales:
    income_till_date=income_till_date+val
    
    print('Income till date=>',income_till_date)
    
    print('The total weekly income is====>>',income_till_date)

Income till date=> 100
The total weekly income is====>> 100
Income till date=> 250
The total weekly income is====>> 250
Income till date=> 350
The total weekly income is====>> 350
Income till date=> 550
The total weekly income is====>> 550
Income till date=> 700
The total weekly income is====>> 700
Income till date=> 900
The total weekly income is====>> 900
Income till date=> 1200
The total weekly income is====>> 1200

In [12]:
digits=[10,20,30]
for i in digits:
    print(i)
else:
      print('No items left')

10
20
30
No items left

In [16]:
i=10   #while loop
while i<10:
i=i+1
print(i,'Data Trained')

IndentationError: expected an indented block (Temp/ipykernel_5140/722174177.py, line 3)

In [18]:
import time
result=time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=5, tm_mday=3, tm_hour=12, tm_min=18, tm_sec=30, tm_wday=1, tm_yday=123, tm_isdst=0)

In [ ]:
while True:
    result=time.localtime()
    if result.tm_hour==12 and result.tm_min==24:
        print('Wake up buddy')
        break