In [1]:
students=['Naveen','Rathna','Vivian','Shridhar','Chintu','Chinnu']  #enumerate
for name in enumerate(students):
    print(name)

(0, 'Naveen')
(1, 'Rathna')
(2, 'Vivian')
(3, 'Shridhar')
(4, 'Chintu')
(5, 'Chinnu')

In [6]:
for i, name in enumerate(students,1)
print(i,name)

SyntaxError: invalid syntax (Temp/ipykernel_15900/722785676.py, line 1)

In [7]:
students_name=['Naveen','Rathna','Vivian','Shridhar','Chintu','Chinnu']  #zip
students_marks=[53,74,62,81,55,86]
students_details=list(zip(students_name,students_marks))
students_details

[('Naveen', 53),
 ('Rathna', 74),
 ('Vivian', 62),
 ('Shridhar', 81),
 ('Chintu', 55),
 ('Chinnu', 86)]

In [8]:
name,marks_num=zip(*students_details)  #unzip
name

('Naveen', 'Rathna', 'Vivian', 'Shridhar', 'Chintu', 'Chinnu')

In [9]:
marks_num

(53, 74, 62, 81, 55, 86)

In [10]:
students_name=['Naveen','Rathna','Vivian','Shridhar','Chintu','Chinnu']
students_marks=[53,74,62,81,55,86]

for i,(name,marks) in enumerate (zip(students_name,students_marks),1):
    print(i,name,marks)

1 Naveen 53
2 Rathna 74
3 Vivian 62
4 Shridhar 81
5 Chintu 55
6 Chinnu 86